<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <springProperty scope="context" name="slackWebHook" source="slack.webhook" defaultValue=""/>

    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${slackWebHook}</webhookUri>
    </appender>

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="at.ac.tuwien.infosys.viepepc" level="ERROR" additivity="true">
        <appender-ref ref="ASYNC_SLACK" />
    </logger>

</configuration>